<?xml version="1.0" encoding="UTF-8"?>
<Wix 
  xmlns="http://schemas.microsoft.com/wix/2006/wi"
>

  <Bundle 
    Name="SampleApp" 
    Version="1.0.0.0" 
    Manufacturer="Example" 
    UpgradeCode="c99db653-84c8-4c03-bc0e-716cc966b50c"
  >
    <BootstrapperApplicationRef Id="ManagedBootstrapperApplicationHost">
      <Payload Name="BootstrapperCore.config" SourceFile="..\SampleApp.BA\bin\$(var.BUILD)\SampleBA.BootstrapperCore.config" />

      <Payload SourceFile="..\SampleApp.BA\bin\$(var.BUILD)\SampleApp.BA.dll" />
      <Payload SourceFile="..\SampleApp.BA\bin\$(var.BUILD)\Caliburn.Micro.dll" />
      <Payload SourceFile="..\SampleApp.BA\bin\$(var.BUILD)\System.Windows.Interactivity.dll" />
      <Payload SourceFile="..\SampleApp.BA\bin\$(var.BUILD)\Autofac.dll" />
    </BootstrapperApplicationRef>

    <Chain>

      <PackageGroupRef Id="Netfx4Full" />

      <MsiPackage
        Id="SampleApp"
        Cache="no"
        Compressed="no"
        Vital="yes"
        Name="SampleApp.Setup.msi"
        SourceFile="..\SampleApp.Setup\bin\$(var.BUILD)\SampleApp.Setup.msi"
      />

    </Chain>
  </Bundle>
</Wix>